/*NAV BUILD*/
/*STICKY NAV ON THE TOP*/
body{
    padding: 8rem 1.25rem 0;
}

header {
    z-index: 5;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}
/* NAVBAR*/
.container {
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    position: fixed;
    height: 4rem;
    background-color: white;
}
/*VIDEO IN THE BACK OF THE NAV*/
.video-presentation {
    z-index: 1;
}
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1.25rem;
    background-color: #ffffff;
    color: #ffffff;
    min-height: 100%;
}
li a {
    color: #7e838f;
    font: .875rem Archia-Medium, sans-serif;
    font-weight: 300;
    transition: all 500ms ease;
}
li a:hover {
    color: #004bff;
}
/* LOGO */
.logo {
    font-size: 2rem;
}
.logo img {
    width: 7rem;
    padding-top: .25rem;
}
/* NAVBAR MENU */
.menu { // VERSION DESKTOP
    display: flex;
    gap: 2em;
    font-size: 1rem;
    transition: all 500ms ease;
}

/* DROPDOWN MENU */
.services {
    position: relative;
    transition: all 5000ms ease;
}
.dropdown {
    background-color: #fff;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 0.5rem;
    top: 1rem;
    box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.67);
    transition: all 500ms ease;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    min-width: 8em;
    text-align: left;
}

.dropdown li:hover {
    color: #004bff;
}

.services:hover .dropdown {
    transition: all 500ms ease;
    display: block;
    right: 0;
    top: 1em;
}

/* BURGER MENU */
input[type=checkbox] {
    display: none;
}
.container-burger {
    cursor: pointer;
}
#burger{
    z-index: 999;
}

.burger-wrapper{
    padding: 8px 8px 8px;
}

.bar1, .bar2, .bar3 {
    width: 24px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    transform-origin: center;
    border-radius: 1rem;
}

#checkbox_toggle:checked ~ #burger > .burger-wrapper .bar1 {
    transition: all 1s;
    translate:0 9px;
    rotate:45deg;
}

#checkbox_toggle:checked ~ #burger > .burger-wrapper .bar2 {
    transition: all 300ms;
    translate: 10px;
    opacity:0;
}

#checkbox_toggle:checked ~ #burger > .burger-wrapper .bar3 {
    transition: all 1s;
    transform:translate(0,-7px) rotate(-45deg);
}
/*END BURGER MENU*/



.personnal-information{
    width: 40%;
}
.presentation{
    display: flex;
    flex-direction: row;
    max-width: 70rem;
    margin:0 auto ;
}
.menu {
    display: none;
    position: fixed;
    z-index: 4;
    background-color: #fff;
    color: #0f141e;
    right: 0;
    left: 0;
    padding: 6rem 2rem 8rem;
    height: 100vh;
}

.menu li:active {
    display: inline-block;
    color: #004bff;
    transition: 0.3s ease;
}

.menu li + li {
    margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
    display: block;
}

.dropdown {
    background-color: #fff;
    padding: 1em 0;
    position: relative; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    transform: translateX(35%);
}

.dropdown li:active {
    background-color: #4c9e9e;
}
.presentation{
    flex-direction: column;
}
.video-presentation {
    order: -1;
    aspect-ratio: 48 / 31.155;
}