@media (min-width: 1200px) {
    body {
        margin: 0 auto;
        /*noinspection CssReplaceWithShorthandSafely*/
        background-color: white;
        /*noinspection CssReplaceWithShorthandSafely*/
        background: no-repeat right -4rem top url(../img/BGVIDEO.svg);
        background-size: 65%;
    }
}

@media (min-width: 995px) {
    .services{
        width: initial;
    }
    .desktop-hidden {
        display: none;
    }

    .mobile-hidden, .reverse .mobile-hidden {
        display: block;
    }

    body {
        margin: 0 auto;
        /*noinspection CssReplaceWithShorthandSafely*/
        background: no-repeat right top url(../img/BGVIDEO.svg);
        background-size: 60%;
        /*noinspection CssReplaceWithShorthandSafely*/
        background-color: white;
    }

    .menu {
        top: 0;
        left: 0;
        position: initial;
        flex-direction: row;
        height: initial;
        width: initial;
        opacity: 1;
        margin-top: 0;
        padding: 0;
        display: inline-flex;
        transition: all 0.5s;
        overflow: visible;
    }

    .burger, .burger-wrapper, #checkbox_toggle {
        display: none;
    }

    .logo {
        margin-right: 0;
        width: 400%;
        height: 3rem;
    }

    .services,.link-only{
        padding: 1rem .5rem;
    }

    .link-only:last-of-type{
        padding: 0;
        align-self: center;
    }
    .link-only .btn{
        font-size: 0.875rem;
        border: #004bff solid 2px;
        background: white;
        padding: .5rem 2.5rem;
        border-radius:3rem;
        color: #004bff;
        justify-self: center;
    }

    .dropdown{
        transition: all .5s;
        z-index: 999;
        position: absolute;
        display: none;
        opacity: 0;
        background-color: #f4f6f8;
        border-radius: .5rem;
        padding: .5rem 2rem;
        top: 3rem;
    }

    .dropdown li {
        padding: 1rem 0;
    }
    .dropdown li a{
        font: 1rem Archia-Medium;
        color: #0f141e;
    }
    .dropdown li a:before{
        content: "->";
    }
    .services:after{
        content: "v";
    }

    .trigger-enter{
        transition: all 0.5s;
        display: block;
    }
    .trigger-enter-active{
        opacity: 1;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        border: none;
        padding: 1rem 1.25rem;
    }

    .link-menu, .services, .link-only {
        background-color: white;
        border: none;
        width: auto;
        white-space: nowrap;
    }

    header {
        top: 0;
        left: 0;
        padding: 0;
        margin: 0 auto;
        height: auto;
        background-color: white;
    }

    .container {
        width: 100%;
        max-width: 117rem;
        margin: 0 auto;
    }

    .menu-icons {
        color: grey;
        font-size: 4rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1500;
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    .logo {
        display: flex;
        margin-right: 5rem;
    }

    .logo i {
        margin: auto;
        font-size: 2rem;
        color: grey;
    }

    .menu {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: flex-end;
        transition: all 0.1ms;
    }

    .menu li{
        font: .875rem Archia-Medium, Helvetica, Arial, sans-serif;
        color: #7e838f;
    }

    .menu > li {
        position: relative;
    }


    .sub-menu li {
        transition: all 0.5s;
        line-height: 3rem;
    }

    .menu a {
        font: inherit;
        display: block;
        color: #7e838f;
        font-weight: 500;
        transition: color .2s;
    }

    .link-menu {
        padding: 0;
    }

    .menu a:hover {
        color: blue;
    }

    .presentation {
        padding-top: 1rem;
        display: grid;
        gap: 0 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }

    .video-presentation {
        width: 100%;
        order: 0;
        grid-column: span 7;
    }

    .personnal-information {
        order: -1;
        grid-column: span 5;
        text-align: left;
    }

    .personnal-information h2, .personnal-information .current-text, cite {
        text-align: left;
    }

    .butInformation {
        margin: 0 0 1rem 0;
    }

    /*SECTION PRESENTATION*/
    .logo-section h3 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .personnal-information strong {
        display: inline;
        font: 1rem 'Archia-Bold', 'Times New Roman', serif;
    }

    .logo-section {
        text-align: center;
        grid-column: span 12;
        padding: 1.75rem 0 5rem;
    }

    .logo-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 1rem;
    }

    .logo-grid svg {
        height: 4rem;
    }

    .logo-section cite {
        display: inline;
        font-size: .875rem;
    }

    /*COMPARATIF*/
    .comparatif{
        width: 100%;
        max-width: 70rem;
        margin:0 auto;
    }

    .comparatif h2, .comparatif p {
        padding: 0 0 1.5rem;
        max-width: 45%;
        text-align: center;
        margin: 0 auto;
    }

    .container-comparaison {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
        margin-bottom: 4rem;

    }

    .comparatif p {
        line-height: 1.5;
        color: #7e838f;
    }

    .comparaison {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.67);
        -webkit-box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.67);
        padding: 3rem 1rem;
        width: 50%;
    }

    .comparaison h3 {
        font: 1.5rem "Archia-Bold", "Helvetica Neue", Helvetica, Arial;
        color: #004bff;
        margin-bottom: 0;
    }

    .comparaison img {
        height: 300px;
        width: auto;
        margin: 0 auto;
        display: block;
        padding: 2rem;
    }

    .comparaison ul {
        margin-top: auto;
    }

    .comparaison li {
        font-size: .875rem;
        color: #7e838f;
        padding: 1rem 2rem;
    }


    /*IDENTITY*/
    .section-slider {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    }

    .section-slider h2, .title-interest {
        font-size: 2.5rem;
        max-width: 50%;
        line-height: 1.2;
        margin: 0 auto 1rem;

    }

    .section-slider p.current-text {
        max-width: 60%;
        margin: 0 auto 3rem;
        color: #7e838f;
    }

    /*REVIEW */
    .review-container h2{
        font-size: 2.5rem;
        max-width: 50%;
        display: inline-block;
        line-height: 1.2;
        margin-bottom: 3rem;

    }
    .review-container{
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    }
    .card-reviews {
        max-width: 33%;
        min-width: 32.3%;
        opacity: 0;
    }

    .slides {
        display: flex;
        overflow-x: initial;
        margin: 0 auto;
    }

    .active_slides {
        opacity: 1;
    }

    .slider__nav {
        position: relative;
        margin: 1rem auto 0;
        left: 0;
    }


    .buttons {
        justify-content: center;
    }

    .tabContent {
        display: flex;
        gap: 2rem;
    }

    .tabContent .imgfull {
        width: 50%;

    }

    .identity{
        gap: 0;
        padding-bottom: 7rem;
    }

    .tabContent .quote-p, .identity-container {
        font-size: 1.5rem;
        grid-column: span 3;
    }

    .quote-p {
        margin-top: 1rem;
    }

    .highlighted-link {
        grid-column: span 2;
        width: fit-content;
    }

    .tabContent .butInformation {
        grid-column: 2/6;
    }

    .tabContent .content {
        display: flex;
        flex-direction: column;
    }

    .identity .butInformation {
        margin: 0 auto;
    }

    /* INTEREST**/
    .interest_experience{
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    }

    .subtitle-interest {
        max-width: 40%;
        color: #7e838f;
        text-align: center;
        margin: 0 auto 4.5rem;
        line-height: 1.5;
    }

    .slider-interest {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, min-content);
        row-gap: 1rem;
        padding: 0 0 8rem;
    / / margin: 0 auto 8 rem;
    }

    .slider-interest h3 {
        grid-column: span 4;
        padding: 0;
        margin: 0;
        max-width: 95%;
    }

    .slider-interest .current-text {
        grid-column: span 4;
        grid-row: 2/3;
        padding: 0;
        margin: 0;
        max-width: 95%;
    }

    .slider-interest ul {
        grid-column: span 4;
        grid-row: 3/5;
        padding: 0;
        margin: 0;
    }

    .slider-interest .slider-image {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
        grid-column: span 8;
        grid-row: span 7;
        margin: 0;
        overflow: visible;
        padding: 0;
    }

    .slider-image img {
        max-width: 10rem;
    }

    .slider-interest .btnInformation {
        grid-column: 1/3;
        grid-row: 6;
        margin: 0;
    }

    .slider-interest .experience-pro {
        grid-column: 6 / 14;
        grid-row: span 7;
        object-fit: cover;
        object-position: center;
        width: 100%;
        margin: 0;
    }


    .reverse .parcours-img {
        grid-column: 1/9;
        grid-row: 1/5;
        margin: 0 auto;
    }

    .parcours-img .active {
        margin: 0;
    }

    .reverse {
        grid-template-columns: repeat(13, 1fr);
        padding: 0 0 6rem;
    }

    .reverse .buttons {
        grid-column: 1/9;
        grid-row: 2;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .reverse-text {
        display: flex;
        flex-direction: column;
        grid-column: 9/14;
        gap: 1.5rem;
    }

    /*SECTION_LANGAGES*/
    .langages {
        display: flex;
        flex-direction: row;
        padding: 0 12rem;
    }
    .langages h2{
        max-width: 75%;
        text-align: left;
        padding: 0;
        margin: 0;
    }


    .langages-specialisation {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .langages-specialisation div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .langages-specialisation div p{
        text-align: left;
        margin-bottom: 0;
    }
    .langages-specialisation div span{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .langages-specialisation a{
        margin-left: 0;
    }
    .slider-footer{
        margin-bottom: 10rem;
    }

    /*SECTION BEFORE FOOTER*/
    .information-footer h2{
        max-width: 40%;
        margin: 0 auto;
        line-height: 1.2;
    }

    /*CHATBOX*/
    /*FOOTER*/
    .footer-menu{
        width: 100%;
        padding: 5rem 12rem;
        text-align: left;
    }
    .footer-menu > ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
    }
    .footer-logo{

    }
    .footer-li-title ul li, .footer-li-title ul li a{
        background-color: #004bff;
        color: white;
        font: .875rem "Archia-Regular", Helvetica, Arial, sans-serif;
    }
}
